@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

body{font-size:1.1rem;
font-family:"Nunito sans";}


header {
background-color:#fff0cb;
    border-bottom:.5rem double #b55232;
      text-align:center;
}
h1{margin:0;}



nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: 80px;
   color: #4c7031;
  
}

nav a {
  text-decoration: none;
  text-align: center;
}





.cornszn { color:#b55232;
  background-image: url("https://assets.codepen.io/t-15440/fm-corn.jpg"); 
   background-size:cover;
  font-weight: normal;
  height:10rem;
}
h2{text-align:center;
margin-top:0;
padding:3rem;
font-family:"Ovo";
font-size:2.5rem;}


h3 {
  font-weight: normal;
  line-height: 1.1667;
  font-size: 2rem;
  margin-left:2rem;
}

img{max-width:100%;
  max-height:auto;
  border-radius:2rem;
}


.push{
  background-color:#4c7031;
  padding: 7px;
  border-radius: 10px;
  display: inline-block;
  color:white;
  text-decoration:none;
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:1.1rem;
}

.push:hover{
  background-color:#f49619;
  color:black;
}

footer{background:#4c7031;
  color:white;
  border-top:.5rem double #f49619; 
  width:100%;
  height:7rem;
  text-align:center;
  padding-top:2rem;

}
 .burger{display:none;} 



@media (max-width: 649px) {
  .burger {
    display: inline;
    text-align: center;
    height: 2rem;
    width: 2rem;
    background-color:#4c7031;
      color:#fff0cb;
    
  }
  
  a:visited{
    color:#ffffff;
  }
  
  
  
  nav {
    text-align: center;
  }

  .nav {
   color:#fff0cb;
    font-weight: 300;
    font-style: normal;
    font-size:large;
    margin: 0;
    background: #824737;
    position: absolute;
    top: 170px;
    width: 50%;
 height:calc(82% - 120px); 
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    gap:0;
    transition: all 400ms;
    display:none;
  }
  .nav-active {
    right: 0;
    display:block;
  
  }
  .navlink {
    text-align: center;
    margin: 1rem;
    color:#fff0cb;
  }
  
}
@media (min-width: 700px){
  .wrapper{display:grid;
  grid-template-columns: 1fr 1fr 1fr; }
}

@media(min-width:915px){
  header{display:flex;}
  nav{padding-top:1rem;}
}